@tailwind base;
@tailwind components;
@tailwind utilities;

/* TALWIND APPLY */
@layer components {
  .btn-contact {
    @apply border-b-2 pb-2 border-violet-300 text-3xl font-extrabold uppercase text-violet-300 lg:flex lg:rounded-md lg:border-0 lg:bg-slate-500/10 lg:px-4 lg:py-2
  }

  .btn-contact:hover {
    box-shadow: -5px 5px 0px 0px rgba(139,92,246,1);
    -webkit-box-shadow: -5px 5px 0px 0px rgba(139,92,246,1);
    -moz-box-shadow: -5px 5px 0px rgba(139,92,246,1);
    transform: translate(2px, -2px);
  }
}

strong {
  /* Violet 300 */
  color: #c4b5fd;
}

/* ABOUT */
.about::before {
  content: "";
  display: block;
  width: 45px;
  height: 1px;
  background-color: #8b5cf6;
}

.about::after {
  content: "";
  display: block;
  width: 45px;
  height: 1px;
  margin-top: 16px;
  margin-left: auto;
  background-color: #8b5cf6;
}

/* SOCIAL */
.icon:hover {
  scale: 1.2;
}

.social::before {
  content: "";
  display: block;
  width: 90px;
  height: 1px;
  background-color: #8b5cf6;
}

.social::after {
  content: "";
  display: block;
  width: 90px;
  height: 1px;
  background-color: #8b5cf6;
}

@media only screen and (min-width: 1024px) {
  /* SOCIAL */
  .social::before {
    width: 1px;
    height: 90px;
    margin: 0px auto;
  }

  .social::after {
    width: 1px;
    height: 90px;
    margin: 0px auto;
  }
}
